@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.site-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.p-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ------------------ shared css --------------- */
.container{
    max-width: 1150px;
    margin: 0 auto;
}
.btn{
    width: 190px;
    background-color: #FEA301;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    border: none;
}

.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.d-none{
    display: none;
}
.orange{
    color: #FEA301;
}
.sky-blue{
    color: #01ACFD;
}
.sec-bg{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-position: top right;

}

/*------------------------- Header sction -----------------------*/

.header{
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
}
.logo{
    align-items: center;
}
.logo h3{
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 15px;
}
.header nav{
    text-align: center;

}
.header nav ul {
    list-style: none;
    font-size: 1.25rem;
}

.header nav ul li{
    display: block;
    margin-right: 10px;
    
}
.header nav ul li:first-child a{
    color: #FEA301;
}
.header nav ul li:nth-child(2) a{
    color: #01ACFD;
}
.header nav ul li:nth-child(3) a{
    color: #05D4DF;
}
.header nav ul li:last-child a{
    color: #5D58EF;
}
.header nav ul li a{
    text-decoration: none;

}

/* ---------------------- hero secion ---------------------- */
.hero-conant{
    max-width:640px;
    margin-top: 174px;
}

.hero-conant h3{
    font-size: 3.5rem;
    padding-right: 54px;
    line-height: 60px;
    margin-bottom: 15px;
    font-weight: bold;
}
.hero-conant p{
    color: #111111;
    font-size: 1.25rem;
    padding-right: 20px;
    display: block;
    margin-bottom: 15px;
}
.hero-conant .btn{
    background-color: #111111;
    color: #fff;
}
.hero-img{
    width: 469px;
}

/* ----------------- Standard section ----------------- */
section#standad\ {
    margin: 55px 0;
}

.sd-title{
    text-align: center;
}
.sd-title h3{
    font-size: 2.85rem;
    font-weight: bold;
}
.card-box{
    margin-top: 25px;
}
.card-box .card{
    width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #DEF5FF 0%, #fff 40%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    padding: 50px 40px;
    margin-right: 28px;
}

.card-box .card img{
    width: 137px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;

}
.card-box .card h3{
    font-size: 1.56rem;
    line-height: 30px;
    font-weight: bold;
    color: #202020;
    margin-bottom: 15px;

}
.card-box .card p{
    display: block;
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 500;
}

.card-box .card button{
    background: none;
    border: none;
    cursor: pointer;
    color: #64C8FF;
}
.card.card1 {
    background: linear-gradient(to bottom, #FFF4DC 0%, #fff 40%);
}
.card.card1 button{
    color: #F0AA00;
}
.card.card2 {
    background: linear-gradient(to bottom, #F2E8FF 0%, #fff 40%);
    margin-right: 0px;
}
.card.card2 button{
    color: #8700FF;
}
.scroll-icon{
    justify-content: center;
    margin: 50px 0px 50px 0px;
    gap: 10px;
}
.scroll-icon .icon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #FEA301;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: 1s;
    transition-timing-function: ease-in-out;
}
.scroll-icon .icon:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotate(360deg);
}

.scroll-icon .icon i{
    font-size: 1.85rem;
    line-height: 45px;
}


/* ------------------------ Our story -------------- */

#ourStor{
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 100%;
    z-index: 1;
}
.sec-bg-colour {
    background: linear-gradient(to top, rgba(254, 163, 1, 0.2) 0%, #fff 100%);
}
.photo-sec{
    padding-bottom: 50px;
    gap: 15px;
    margin-top: 25px;
}
.photo-sec .left{
    width: 500px;
}
.photo-sec .left .card .upper img{
    width: 100%;
}
.photo-sec .left .card .upper{
    position: relative;
}
.photo-sec .left .card {
    border-radius: 16px;
    overflow: hidden;
}
.p-btn {
    background: #3CD8E8;
    color: #fff;
    padding: 13px;
    border-radius: 45px;
    border: none;
    position: absolute;
    bottom: -14px;
    left: 50px;
}
.photo-sec .left .card .lower {
    padding: 38px;
    background: white;
    padding-bottom: 57px;
    margin-top: -8px;
}
.photo-sec .left .card .lower h3{

    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;

}
.photo-sec .left .card .lower p{
    font-size: 0.99rem;
    color: #666666;
    padding-bottom: 50px;
}
.upper-l{
    position: relative;
}

.l-btn {
    background: #95B226;
    color: #fff;
    padding: 13px;
    border-radius: 45px;
    border: none;
    position: absolute;
    bottom: -14px;
    left: 50px;
}
.l-btn1{
    background-color: #5D58F0;
    bottom: -17px;
}
.l-btn2{
    background-color: #F0AA00;
    bottom: -26px;
}
.l-btn3{
    background-color: coral;
    bottom: -26px;
}
.photo-sec .right .card .lower {
    padding: 38px;
    background: white;
    margin-top: -8px;
}
.photo-sec .right {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.photo-sec .right .card{
    width: 290px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
}
.photo-sec .right .card .upper-l{
    height: 177px;    
}
.photo-sec .right .card .upper-l img{
    width: 100%;
}

.photo-sec .right .card .lower h3{

    font-size: 0.99rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;

}






/* ------------------------rsponsive paart ----------------------- */
@media screen and (max-width: 576px) {
    /* ---------------- header --------------- */
    .container{
        width: 360px;
    }
    .d-none{
        display: block;
        width: 30px;
    }
    .d-none i{
        font-size: 40px;
    }
    .header nav ul{
        display: none;
    }

    .btn-sec{
        display: none;
    }
    .logo h3{
        display: none;
    }

    /* ------------------ hero section ----------- */

    .hero-section{
        flex-direction: column-reverse;
        
    }
    .hero-conant{
        margin-top: 15px;
        text-align: center;
    }
    .hero-conant h3{
        padding: 0;
    }
    .hero-img{
        width: 340px;
    }
    .hero-img img{
        width: 100%;
    }

    /* ---------------------standerd section------------- */
    .card-box{
        flex-direction: column;
        gap: 20px;
    }
    .scroll-icon{
        display: none;
    }
    .sd-title h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    /* ---------------- our story ------------------ */
    .photo-sec{
        justify-content: center;
    }
    .photo-sec .left{
        display: none;
    }
    .photo-sec .right {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}